@mixin classes {

  // floats/clearing
  .left { @include float(left); }
  .right { @include float(right); }
  .clear { clear: both; }
  .group, .clearfix { @include clearfix; }
  
  // hiding/showing
  .hide { display: none; }
  .js-hide { @include js_hide; }
  .js-show { @include js_show; }
  .hide-accessibly { @include hide_accessibly; }
  
  // misc
  .centered { text-align: center; }
  .block { @include block; }
  .no-bullets { @include no_bullets; }
  .no-bullet { @include no_bullet; }
  .nowrap { white-space: nowrap; }
  
}