@mixin block($margin: $base_y, $display: block) {
  display: $display;
  margin-bottom: $margin;
} //block

@mixin cycle($h) {
  .slide,
  .slides {
    height: $h;
    overflow: hidden;
    * {
      display: block;
    }
  }
} //cycle
