@mixin block-list() {
  li {
    @include li-reset;
    a {
      display: block;
    }
  }
} //block-list

@mixin floated-list($margin-right: 0, $text-align: center) {
  @include clearfix;
  li {
    text-align: $text-align;
    @include float(left);
    margin-right: $margin-right;
    a {
      display: block;
    }
    &.last {
      margin-right: 0;
    }
  }
} //floated-list

@mixin inline-block-list($margin-right: 0) {
  li {
    @include li-reset;
    @include inline-block;
    margin-right: $margin-right;
    &.last {
      margin-right: 0;
    }
  }
} //inline-block-list

@mixin inline-list($margin-right: 0) {
  li {
    @include li-reset;
    display: inline;
    margin-right: $margin-right;
    &.last {
      margin-right: 0;
    }
  }
} //inline-block-list

@mixin piped-list(
  $color: $base-border-color,
  $width: 1px,
  $style: solid,
  $padding-right: 5px,
  $margin-right: 5px) {
  li {
    @include li-reset;
    border-right: $width $style $color;
    padding-right: $padding-right;
    margin-right: $margin-right;
    &.last {
      margin-right: 0;
      padding-right: 0;
    }
  }
} //piped-list