/**
* include base
* --------------------------------------------------
*/

@include base;

/**
* font-face
* --------------------------------------------------
*/

@include font-face(
  "Proxima Nova",
  $easel-font-dir + 'proxima-nova/ProximaNova-Light-webfont',
  $weight: 300,
  $style: normal
);
@include font-face(
  "Proxima Nova",
  $easel-font-dir + 'proxima-nova/ProximaNova-Reg-webfont',
  $weight: 500,
  $style: normal
);
@include font-face(
  "Proxima Nova",
  $easel-font-dir + 'proxima-nova/ProximaNova-Bold-webfont',
  $weight: 700,
  $style: normal
);
@include font-face(
  "Proxima Nova",
  $easel-font-dir + 'proxima-nova/ProximaNova-Xbold-webfont',
  $weight: 800,
  $style: normal
);

/**
* mixins
* --------------------------------------------------
*/

@mixin dark-div {
 background-color: #434343;
 color: #999999;
  a {
   @include a(#fff, darken(#fff, 20%));
  }
}

/**
* layout
* --------------------------------------------------
*/

// body
body {
  background-color: gray(5%);
  @include default-font($color: gray(40%));
}

/** containers */
.header-inner,
.content-header-inner,
.content,
.footer {
  @include container;
}

/**
* header
* --------------------------------------------------
*/

.header {
  @include dark-div;
  @include box-shadow(0, 8px, 8px, 0, #333333, true);
  padding: 20px 0 0;
  .logo {
    @include float(left);
    margin: 0 0 20px;
    a {
      @include replace;
      background-image: url(images/content/logo-header.png);
    }
    &, a {
      width: 300px;
      height: 50px;
    }
  }
  .nav-util {
    @include float(right);
    @include inline-block-list;
    @include piped-list($border-color: gray(50%));
  }
  .nav-main {
    clear: both;
    @include tabs-nav;
    li {
      margin: 0 4px 0 0;
      a {
        @include border-radius-t(3px);
        background-color: #2c2c2c;
        padding: 8px 20px 4px;
        @include text-shadow(0, 1px, 1px, gray(95%));
        @include heading($color: #fff);
        &:hover {
          background-color: #1c1c1c;
        }
      }
    }
    li.active {
      a {
        @include vertical-gradient($start: #fff, $end: #f6f6f6);
        color: #333;
        @include text-shadow(0, 1px, 1px, #d9d9d9);
      }
    }
  }
} // header

/**
* footer
* --------------------------------------------------
*/

@include sticky-footer(
  $height: 50px,
  $width: 940px,
  $padding-y: 41px
);

.footer {
  border-top: 1px solid gray(20%);
  padding-top: 20px;
  @include box-shadow(0, 1px, 0, 0, #fff, true);
  .copyright {
    text-align: center;
  }
} // footer

/**
* content
* --------------------------------------------------
*/

.content {
  padding: 20px 0 0;
}

/**
* data-table
* --------------------------------------------------
*/

.data-table {
  width: 100%;
  border-collapse: separate;
  @include block($display: table);
  margin-bottom: 30px;
  td, th {
    border-left: 1px solid $default-border-color;
    @include box-shadow(1px, 0, 0, 0, #fff, true);
    padding: 10px 15px;
    &:first-child,
    .cell-first {
      border-left: 0;
      @include no-box-shadow;
    }
    &:last-child,
    .cell-last {
      border-right: 0;
      @include no-box-shadow;
    }
  }
  thead {
    th, td {
      padding: 15px;
      background-color: #fff;
    }
  }
  th,
  thead td,
  thead th {
    @include heading;
  }
  tbody {
    th, td {
      background-color: gray(5%);
    }
    tr:nth-of-type(odd),
    .odd {
      th, td {
        background-color: gray(10%);
      }
    }
    tr:hover {
      td, th {
        background-color: $default-link-color;
        border-color: $default-link-hover-color;
        @include box-shadow(1px, 0, 0, 0, lighten(desaturate($default-link-color, 20%), 5%), true);
        &, a {
          color: #fff;
        }
      }
    }

  }
  tr:hover {
    .delete-row {
      @include no-box-shadow;
    }
  }
  .delete-row {
    text-align: right;
    width: 16px;
    border-left: 0;
    a {
      @include replace;
      @include link-sprite;
      background-image: url($easel-img-dir + 'ui/close-x.png');
      width: 16px;
      height: 17px;
    }
  }
}

/**
* buttons
* --------------------------------------------------
*/

.btn {
  @include css3-button;
}
.btn-bar {
  @include css3-button-bar;
  margin-bottom: 20px;
  a {
    @include border-radius(0);
  }
  li.li-first,
  & > li:first-child {
    a {
      @include border-radius-l;
    }
  }
  li.li-last,
  & > li:last-child {
    a {
      @include border-radius-r;
    }
  }
}

/**
* flash messages
* --------------------------------------------------
*/

.flash {
  background-color: gray(10%);
  padding: $default-column-gutter;
  width: column-width(16);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: column-width(16) / 2 * -1;
  @include border-radius-b;
  @include box-shadow(0, 5px, 20px, 0, rgba(#000, .65));

// temp
  background-color: #fff9b7;
  color: #666;
  @include heading(20px);
  text-align: center;

}
.flash {
  &.warning {
  }
}

.multi-column {
  @include multi-column-layout(
    $column-count: false,
    $column-width: column-width(6)
  );
}
/**
* form
* --------------------------------------------------
*/

@mixin label {
  @include heading;
  display: block;
  margin: 0 0 5px;
}
form {
  @include block;
  textarea {
    @include min-height(75px);
    width: 100%;
  }
}
.text input,
.select select {
  @include min-height(20px);
  width: 100%;
  padding: 0;
}
.text,
.select,
.checkboxes,
.radios {
  margin: 0 0 $default-measure / 2;
}
.text,
.select {
  label {
    @include label;
  }
}

fieldset {
  legend {
    @include label;
  }
}
.radios,
.checkboxes {
  label {
    display: inline;
  }
}
.actions {
  margin-top: $default-measure;
}

.layout-a {
  @include clearfix;
  margin-bottom: 30px;
  .content-1 {
    @include column(6, $offset-x: -1px);
    padding: 20px 0;
    margin-bottom: 30px;
    border-right: 1px solid $default-border-color;
    background: #f6f6f6;
    background-image: -webkit-gradient(linear, right top, .92 top, from(#e7e7e7), to(#f6f6f6));
    background-image: -moz-linear-gradient(right center, #e7e7e7 0px, #f6f6f6 15px);
  }
  .content-2 {
    @include column(18, $last: true);
    padding-top: 20px;
  }
}