// $$$$$$$$\                              $$\
// $$  -----|                             $$ |
// $$ |      $$$$$$\   $$$$$$$\  $$$$$$\  $$ |
// $$$$$\    \----$$\ $$  -----|$$  --$$\ $$ |
// $$  --|   $$$$$$$ |\$$$$$$\  $$$$$$$$ |$$ |
// $$ |     $$  --$$ | \----$$\ $$   ----|$$ |
// $$$$$$$$\\$$$$$$$ |$$$$$$$  |\$$$$$$$\ $$ |
// \--------|\-------|\-------/  \-------|\--|

//** =default variables
//**********************************************************/


// directories
$easel-dir: '/easel/' !default;
$easel-script-dir: '/easel/scripts/' !default;
$easel-style-dir: '/easel/styles/' !default;
$easel-img-dir: '/easel/styles/images/' !default;
$easel-font-dir: '/easel/styles/fonts/' !default;

// colors
$default-font-color: #333 !default;
$default-background-color: #fff !default;
$default-border-color: #ccc !default;
$default-link-color: #0d5fe5 !default; // blue
$default-link-hover-color: darken(saturate($default-link-color, 20%), 20%) !default;

// text
$default-measure: 20px !default;
$default-font-size: 12px !default;
$default-letter-spacing: .01em !default;
$default-line-height: $default-measure / $default-font-size !default;

// grid
$default-column-count: 24 !default;
$default-column-width: 20px !default;
$default-column-gutter: 20px !default;

//** =imports
//**********************************************************/

@import "includes/functions";
@import "includes/mixins";
@import "includes/reset";
@import "includes/grid";
@import "includes/css3";
@import "includes/font_stacks";
@import "includes/lists";
@import "includes/sticky_footer";
@import "includes/superfish";
@import "includes/link_sprite";
@import "includes/base";