[submodule "submodules/fusionary.tmbundle"]
	path = submodules/fusionary.tmbundle
	url = git://github.com/kswedberg/fusionary-tmbundle.git
[submodule "submodules/jquery-tinyvalidate"]
	path = submodules/jquery-tinyvalidate
	url = git://github.com/kswedberg/jquery-tinyvalidate.git
[submodule "submodules/jquery-expandable"]
	path = submodules/jquery-expandable
	url = git://github.com/kswedberg/jquery-expandable.git
[submodule "submodules/jquery-defaulttext"]
	path = submodules/jquery-defaulttext
	url = git://github.com/kswedberg/jquery-defaulttext.git
