/** =print.css
************************************************************
@project		Easel
************************************************************/

/** =reset
************************************************************/
body { 
	margin:0;
	padding:0;
}

/** =images
************************************************************/
img {
	float: left;
	margin: 1.5em 1.5em 1.5em 0;
}
a img { border: none; }

/** =links
************************************************************/
a {
  background: transparent;
  font-weight:700;
  text-decoration: underline;
}
a[href^="http://"]:after, a:after {
  content: " (" attr(href) ")";
  font-size: 90%;
}

/** =tables
************************************************************/
table 	{ text-align:left; }
th 			{ border-bottom: 1px solid #333;  font-weight: bold; }
td 			{ border-bottom: 1px solid #333; }
th, td 	{ padding: 4px 10px 4px 0; }
tfoot 	{ font-style: italic; }
caption { background: #fff; margin-bottom:2em; text-align:left; }
thead 	{ display: table-header-group;}
tr 			{ page-break-inside: avoid; } 

/** =hide from print
************************************************************/
.header,
.footer {
	display:none;
}
