/** =reset.css
************************************************************
@project  Easel
@see      http://meyerweb.com/eric/tools/css/reset/
@note     added .reset to element list and list-style: none to declaration
************************************************************/
.reset, .reset li, .reset dt, .reset dd,
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	list-style: none;
	font-weight: inherit;
	font-style: inherit;
}

/* =quotes */
blockquote, q { quotes: none; }

/* =restrict oversized image from breaking container */
img { max-width: 100%; }

/** =utility classes
************************************************************/
.hide,
.js .js-hide,
.js-show      { display: none; }
.js .js-show  { display: block; }
.alt-hide     { position: absolute; left: -999em; }

.right        { float: right; }
.left         { float: left; }
.clear        { clear: both; }
.center       { display: block; margin-left: auto; margin-right: auto; float: none; }

.text-right   { text-align: right; }
.text-left    { text-align: left; }
.text-center  { text-align: center; }

.uppercase    { text-transform: uppercase; }
.lowercase    { text-transform: lowercase; }
.capitalize   { text-transform: capitalize; }
.smallcaps    { font-variant: small-caps; }

.hnav, .hnav li,
.vnav, .vnav li,
.inav, .inav li {
  list-style: none;
  margin: 0;
  padding: 0;
  background-image: none;
}
.hnav li      { float: left; display: inline; }
.hnav a,
.vnav a       { display: block; }
.inav li      { display: inline; }

/** =ie
************************************************************/
.ie img { -ms-interpolation-mode:bicubic; }
.ie6 ol,
.ie7 ol { margin-left: 2em; }
.ie-layout { zoom: 1; }

/** =group (clearfix)
************************************************************
@see  http://www.positioniseverything.net/easyclearing.html
************************************************************/
.group:after,
.container:after,
.block:after,
.hnav:after,
.text:after,
.select:after,
.file:after { content: "."; display: block; font-size: 0; height: 0; clear: both; visibility: hidden; }

.group,
.container,
.block,
.hnav,
.text,
.select,
.file { display: inline-block; }

* html .group,
* html .container,
* html .block,
* html .hnav,
* html .text,
* html .select,
* html .file { height: 1%; }

.group,
.container,
.block,
.hnav,
.text,
.select,
.file { display: block; }