// 
// $$$$$$$$\                              $$\ 
// $$  _____|                             $$ |
// $$ |      $$$$$$\   $$$$$$$\  $$$$$$\  $$ |
// $$$$$\    \____$$\ $$  _____|$$  __$$\ $$ |
// $$  __|   $$$$$$$ |\$$$$$$\  $$$$$$$$ |$$ |
// $$ |     $$  __$$ | \____$$\ $$   ____|$$ |
// $$$$$$$$\\$$$$$$$ |$$$$$$$  |\$$$$$$$\ $$ |
// \________|\_______|\_______/  \_______|\__|
// 
// Fusionary Easel v2.0
// Grid

/** =container
************************************************************/
@mixin container($width: ($column_width + $gutter_width) * $column_count - $gutter_width) {
  width: $width;
  margin: 0 auto;
	@include clearfix;
}
@mixin col_calc($col_number, $property: "width", $offset: 0, $before: "") {
	#{$property}: #{$before}(($column_width + $gutter_width) * $col_number - $gutter_width + $offset);
}

/** =default form input widths
************************************************************/
$input_offset: $input_padding_width * 2 + $input_border_width * 2;

.text {
	input,
	textarea {
		@include col_calc($input_width, "width", -$input_offset);
	}
	textarea {
		height: $textarea_height;
	}
}
.select {
	select {
		@include col_calc($input_width, "width");
	}
}

/** =columns
************************************************************/
@mixin column {
	@include float(left);
	margin-right: $gutter_width;
}
@for $i from 1 through $column_count {
	.col-#{$i} {
		@include column;
		@include col_calc($i);
	}
	.append-#{$i} {
		@include col_calc($i, "padding-right", $gutter_width);
	}
	.prepend-#{$i} {
		@include col_calc($i, "padding-left", $gutter_width);
	}
	.text {
		&.col-#{$i} input,
		&.col-#{$i} textarea,
		body & input.col-#{$i},
		body & textarea.col-#{$i} {
			@include col_calc($i, "width", -$input_offset);
		}	
	}
	.select {
		&.col-#{$i} select,
		body & select.col-#{$i} {
			@include col_calc($i);
		}
	}	
}

.col-#{$column_count},
.col-last {
	margin-right: 0;
}