@mixin body {
  font-size: $base_font_size;
  line-height: $base_line_height;
  color: $base_text_color;
  letter-spacing: $base_letter_spacing;
} //body

@mixin p {
  @include block;
} //p

@mixin blockquote {
  @include block;
} //blockquote

@mixin pre {
  @include block;
} //pre

@mixin address {
  @include block;
} //address

@mixin a($color: $base_link_color, $hover_color: $base_link_hover_color) {
  color: $color;
  &:focus,
  &:hover {
    color: $hover_color;
  }
} //a

@mixin img($inline_block: true) {
  max-width: 100%;
  height: auto;  
  @if $inline_block {
    @include inline_block; 
  }
} //img

@mixin small {
  
} //small

@mixin strong {
  font-weight: bold;
} //strong

@mixin em {
  font-style: italic;
} //em

@mixin code {

} //code

@mixin abbr {
  text-transform: uppercase;
  cursor: help;
} //abbr

@mixin q {
  
} //q

@mixin del {
  text-decoration: line-through;
} //del

@mixin ins {
  text-decoration: underline;
} //ins
