@mixin body {
  font-size: $base_font_size;
  line-height: $base_line_height;
  color: $base_text_color;
  letter-spacing: $base_letter_spacing;
}

@mixin p {
  @include block;
}

@mixin blockquote {
  @include block;
}

@mixin pre {
  @include block;
  white-space: pre;
}

@mixin address {
  @include block;
}

@mixin a($color: $base_link_color, $hover_color: $base_link_hover_color) {
  color: $color;
  &:focus,
  &:hover {
    color: $hover_color;
  }
}

@mixin img($inline_block: true) {
  max-width: 100%;
  height: auto;  
  @if $inline_block {
    @include inline_block; 
  }
}

@mixin small {
  font-size: 80%;
}

@mixin strong {
  font-weight: bold;
}

@mixin em {
  font-style: italic;
}

@mixin code {
  @include font_mono;
}

@mixin abbr {
  text-transform: uppercase;
  cursor: help;
}

@mixin q {
  font-style: italic;
}

@mixin del {
  text-decoration: line-through;
}

@mixin ins {
  text-decoration: underline;
}

@mixin sub {
  font-size: 60%;
}

@mixin sup {
  font-size: 60%;
}