@mixin list_base($line_height, $margin_y) {
  @include block;
  li {
    line-height: $line_height;
		margin: $margin_y 0;
  }
}

@mixin bullet($img, $padding_x, $top_offset, $left_offset) {
  background: url($img) $left_offset $top_offset no-repeat;
  padding-left: $padding_x;
}

@mixin no_bullet {
  background: none;
  list-style-type: none;
}

@mixin no_bullets {
  li {
    @include no_bullet;
  }
}

@mixin list_reset {
  margin-bottom: 0;
  li {
    @include li_reset;
  }
}

@mixin li_reset {
  list-style-type: none;
  padding-left: 0;
  background: none;
  line-height: inherit;
  margin: 0;
}

@mixin ul(
  $line_height: $base_list_line_height,
  $margin_y: $base_list_margin_y,
  $img: '/easel/styles/images/icons/20x20/dot-blue.png',
  $padding_left: $base_x,
  $top_offset: -.15em,
  $left_offset: -6px) {
  @include list_base($line_height, $margin_y);
  li {
    @include bullet($img, $padding_left, $top_offset, $left_offset);
  }
}

@mixin ol(
  $type: decimal,
  $margin_left: 2em,
  $line_height: $base_list_line_height,
  $margin_y: $base_list_margin_y) {
    @include list_base($line_height, $margin_y);
  li {
    list-style-type: $type;
    margin-left: $margin_left;
  }
}

@mixin dl {
  @include block;
  dd {
    margin-left: $base_x;
  }
}