@mixin list-base($line-height, $margin-y) {
  @include block;
  li {
    line-height: $line-height;
		margin: $margin-y 0;
  }
}

@mixin bullet($img, $padding-x, $top-offset, $left-offset) {
  background: url($img) $left-offset $top-offset no-repeat;
  padding-left: $padding-x;
}

@mixin no-bullet {
  background: none;
  list-style-type: none;
}

@mixin no-bullets {
  li {
    @include no-bullet;
  }
}

@mixin list-reset {
  margin-bottom: 0;
  li {
    @include li-reset;
  }
}

@mixin li-reset {
  list-style-type: none;
  padding-left: 0;
  background: none;
  line-height: inherit;
  margin: 0;
}

@mixin ul(
  $line-height: $base-list-line-height,
  $margin-y: $base-list-margin-y,
  $img: '/easel/styles/images/icons/20x20/dot-gray.png',
  $padding-left: $base-x,
  $y-offset: 0,
  $x-offset: 0) {
  @include list-base($line-height, $margin-y);
  li {
    @include bullet($img, $padding-left, $y-offset, $x-offset);
  }
}

@mixin ol(
  $type: decimal,
  $margin-left: 2em,
  $line-height: $base-list-line-height,
  $margin-y: $base-list-margin-y) {
    @include list-base($line-height, $margin-y);
  li {
    list-style-type: $type;
    margin-left: $margin-left;
  }
}

@mixin dl {
  @include block;
  dd {
    margin-left: $base-x;
  }
}