/*
$$$$$$$$\                              $$\ 
$$  _____|                             $$ |
$$ |      $$$$$$\   $$$$$$$\  $$$$$$\  $$ |
$$$$$\    \____$$\ $$  _____|$$  __$$\ $$ |
$$  __|   $$$$$$$ |\$$$$$$\  $$$$$$$$ |$$ |
$$ |     $$  __$$ | \____$$\ $$   ____|$$ |
$$$$$$$$\\$$$$$$$ |$$$$$$$  |\$$$$$$$\ $$ |
\________|\_______|\_______/  \_______|\__|

Fusionary Easel v2.0
Contants, colors, @font-face Definitions
*/

/** =grid
************************************************************/
@column_width: 50px;
@gutter_width: 20px;
@input_padding_width: 5px; /* padding (per side) */
@input_border_width: 1px; /* border width (per side) */

/** =baseline
************************************************************/
@base_line_height: 1.538em; /* 20px */
@base_font_size: 12px;
@base_vmargin: 20px; /* vertical margin */
@base_hmargin: 20px; /* horizontal margin */

/** =colors
************************************************************/
@base_text: #333;
@base_text_light: #acacac;
@base_border: #dddddd;

@link_text: @orange;
@link_text_hover: (@orange - #666);

@box_text: #949494;
@box_bg: #f3f3f3;
@box_border: #dddddd;

@box_error_text: #a63333;
@box_error_bg: #ffdfdf;
@box_error_border: #efcaca;
 
@box_notice_text: #695e52;
@box_notice_bg: #fff6bf;
@box_notice_border: #ffd324;
 
@box_success_text: #3d6c10;
@box_success_bg: #e6efc2;
@box_success_border: #c6d880;
 
@box_info_text: #2b638d;
@box_info_bg: #e8F5ff;
@box_info_border: #d4ecff;
