/*
$$$$$$$$\                              $$\ 
$$  _____|                             $$ |
$$ |      $$$$$$\   $$$$$$$\  $$$$$$\  $$ |
$$$$$\    \____$$\ $$  _____|$$  __$$\ $$ |
$$  __|   $$$$$$$ |\$$$$$$\  $$$$$$$$ |$$ |
$$ |     $$  __$$ | \____$$\ $$   ____|$$ |
$$$$$$$$\\$$$$$$$ |$$$$$$$  |\$$$$$$$\ $$ |
\________|\_______|\_______/  \_______|\__|

Fusionary Easel v2.0
Site Specific Reusable Mixins
*/


/** =container
************************************************************/
@mixin container($width: ($column_width + $gutter_width) * 24) {
  width: $width;
  margin: 0 auto;
	@include clearfix;
}

/** =columns
************************************************************/
@mixin column {
	float: left;
	margin-right: $gutter_width;
}
@for $i from 1 through $column_count {
	$this_column_width: ($column_width + $gutter_width) * $i  - $gutter_width;
	.col-#{$i} {
		@include column;
		width: $this_column_width;
	}
	.append-#{$i} {
		padding-right: $this_column_width + $gutter_width;
	}
	.prepend-#{$i} {
		padding-left: $this_column_width + $gutter_width;
	}
	.pull-#{$i} {
		margin-left: -($this_column_width + $gutter_width);
	}
	.push-#{$i} {
		margin-right: 0 -($this_column_width + $gutter_width) 0 0;
	}
	.text.col-#{$i}	 input,
	.text.col-#{$i}	 textarea,
	.text input.col-#{$i}, 
	.text textarea.col-#{$i} {
		width: $this_column_width - ($input_padding_width * 2 + $input_border_width * 2);
	}
	.col-#{$column_count},
	.col-#{$i}.last {
		margin-right: 0;
	}
}

