/*
$$$$$$$$\                              $$\
$$  _____|                             $$ |
$$ |      $$$$$$\   $$$$$$$\  $$$$$$\  $$ |
$$$$$\    \____$$\ $$  _____|$$  __$$\ $$ |
$$  __|   $$$$$$$ |\$$$$$$\  $$$$$$$$ |$$ |
$$ |     $$  __$$ | \____$$\ $$   ____|$$ |
$$$$$$$$\\$$$$$$$ |$$$$$$$  |\$$$$$$$\ $$ |
\________|\_______|\_______/  \_______|\__|

Fusionary Easel v2.0
Baseline Styles, Global Classes
*/

/** =inline elements
************************************************************/
strong,
strong > em {
	font-weight: bold;
}
em,
em > strong {
	font-style: italic;
}
small {
	font-style: italic;
	color: $text_light;
}
del {
	text-decoration: line-through;
}
sup, sub {
	font-size: 60%;
}
ins, abbr, acronym {
	border-bottom: 1px dotted;
}
abbr, acronym {
	cursor:help;
}

/* prevent images/objects from breaking out of containing box
and eliminate unwanted space beneath images/objects */
img,
object {
	@include inline-block;
	max-width: 100%;
	height: auto;
} 

/** =paragraph
************************************************************/
p {
	margin-bottom: $margin_y;
}

/** =load from mixins
************************************************************/
body 			 { @include body-copy; }
a  				 { @include link; }
h1 				 { @include h1; }
h2 				 { @include h2; }
h3 				 { @include h3; }
h4 				 { @include h4; }
h5 				 { @include h5; }
h6 				 { @include h6; }
ul 				 { @include ul; }
ol 				 { @include ol; }
dl 				 { @include dl; }
table 		 { @include table; }
blockquote { @include bq; }
pre 			 { @include pre; }
address 	 { @include address; }

/** =groups and sections
************************************************************/
.group { @include clearfix; }
.section { @include section; }
.last {
	margin-bottom: 0;
}

/** =forms
************************************************************/
form {
	@include form;
	.actions {
		border-top: 1px solid $default_border;
		padding: $margin_y /2 0 0;
	}
}
label[for] {
	cursor: pointer;
}
.legend {
	@include legend;
}

/** =text, select, textarea **/
.text,
.select {
	@include clearfix;
	margin-bottom: $margin_y / 2;
	label {
		@include label;
	}
	input,
	select,
	textarea {
		@include rnd;
		font-size: 14px;
		padding: 5px $input_padding_width;
		background-color: $default_bg;
		border: 1px solid darken($default_border, 20%);
		color: $default_text;
		border-bottom-color: $default_border;
		&:focus {
			background-color: lighten($default_bg, 10%);
			color: darken($default_text, 10%);
		}
	}
}
.text {
	.placeholder {
		color: $text_light;
		font-size: 14px;
		font-weight: bold;
		margin: $input_offset / 2 0 0 $input_offset / 2;
	}
}

/** =radios, checkboxes **/
.radio,
.checkbox {
	@include clearfix;
	margin-bottom: $margin_y / 4;
	input {
		float: left;
	}
	label {
		display: block;
		margin-left: 20px;
		@include lh_tighter;
	}
}
.radio-group,
.checkbox-group {
	> .legend {
		@include legend_reset;
		@include label;
		margin-bottom: $margin_y / 4;
	}
}

/** =disabled inputs **/
input[disabled],
button[disabled],
select[disabled],
textarea[disabled] {
	@include opacity(.5);
}
.disabled,
.disabled label {
	@include opacity(.5);
	cursor: default;	
	* {
		@include opacity(1);
	}
}

/** =validation **/
.required-mark {
	color: $error_text;
	font-weight: bold;
}
.text,
.select {
	&.error {
		* {
			color: $error_text;
		}
		input,
		textarea,
		select {
			background-color: $error_bg;
			border-color: $error_border;
		}
		.error-message {
			text-align: right;
		}
		.placeholder {
			color: desaturate(lighten($error_text, 40%), 40%);
		}
	}
}

/** =buttons
************************************************************/
.btn {
	@include btn;
	padding: 0 18px 0 0;
  & > span {
	  padding: 0 0 0 18px;
	  height: 32px;
	  line-height: 31px;
		color: $text_dark;
		font-size: 15px;
	}
	&,
	&:hover,
	&:active,
	& > span {
		background-image: url(images/easel/sprites/btn-default-white.png);
	}
	background-position: 100% 0;
	> span { background-position: 0 -100px; }
	&:hover { background-position: 100% -200px; }
	&:hover > span { background-position: 0 -300px; }
	&:active { background-position: 100% -400px; }
	&:active > span { background-position: 0 -500px; }
	
}

/** =easel icons
************************************************************/
.icn {
	&.external { @include easel-icon("external-a"); }
	&.calendar { @include easel-icon("calendar"); }
}

/** =status boxes
************************************************************/
.box {
	@include box;
}
.box {
	&.info {
		@include box($info_bg, $info_border, $info_text);
		background-image: url(images/easel/icons/status/info.png);
	}
	&.warning {
		@include box($warning_bg, $warning_border, $warning_text);
		background-image: url(images/easel/icons/status/warning.png);
	}
	&.error {
		@include box($error_bg, $error_border, $error_text);
		background-image: url(images/easel/icons/status/error.png);
	}
	&.success {
		@include box($success_bg, $success_border, $success_text);
		background-image: url(images/easel/icons/status/success.png);
	}
	&.info,
	&.warning,
	&.error,
	&.success {
		padding-left: $margin_x + 34px;
	}
}