// $$$$$$$$\                              $$\ 
// $$  _____|                             $$ |
// $$ |      $$$$$$\   $$$$$$$\  $$$$$$\  $$ |
// $$$$$\    \____$$\ $$  _____|$$  __$$\ $$ |
// $$  __|   $$$$$$$ |\$$$$$$\  $$$$$$$$ |$$ |
// $$ |     $$  __$$ | \____$$\ $$   ____|$$ |
// $$$$$$$$\\$$$$$$$ |$$$$$$$  |\$$$$$$$\ $$ |
// \________|\_______|\_______/  \_______|\__|
// 
// Fusionary Easel v2.0
// Contants, colors, $font-face Definitions

/** =grid
************************************************************/
$column_count: 24;
$column_width: 20px;
$gutter_width: 20px;
$input_padding_width: 5px; /* padding (per side) */
$input_border_width: 1px; /* border width (per side) */
$input_offset: $input_padding_width * 2 + $input_border_width * 2;

/** =baseline
************************************************************/
$font_size: 12px;
$line_height: 1.538em; /* 20px */
$margin_x: 20px; /* base vertical margin */
$margin_y: 20px; /* base horizontal margin */
$radius: 5px; /* base rounded corner radius */

/** =colors
************************************************************/
$aqua: #5ec2dd;

/** =grayscale defaults **/
$default_text: darken(#fff, 60%);
$default_bg: darken(#fff, 3%);
$default_border: darken(#fff, 8%);

/** =body copy **/
$text: #565656;
$text_light: lighten($text, 40%);
$text_dark: darken($text, 20%);

/** =links **/
$link_text: $aqua;
$link_text_hover: darken($aqua, 20%);

/** =status colors **/
$error_bg: #ffdfdf;
$error_border: saturate(darken($error_bg, 10%), 20%);
$error_text: saturate(darken($error_bg, 60%), 60%);

$warning_bg: #fff6bf;
$warning_border: saturate(darken($warning_bg, 30%), 10%);
$warning_text: saturate(darken($warning_bg, 60%), 60%);

$info_bg: #e8F5ff;
$info_border: saturate(darken($info_bg, 8%), 20%);
$info_text: saturate(darken($info_bg, 60%), 60%);

$success_bg: #e6efc2;
$success_border: saturate(darken($success_bg, 30%), 20%);
$success_text: saturate(darken($success_bg, 60%), 20%);
