// 
// $$$$$$$$\                              $$\ 
// $$  _____|                             $$ |
// $$ |      $$$$$$\   $$$$$$$\  $$$$$$\  $$ |
// $$$$$\    \____$$\ $$  _____|$$  __$$\ $$ |
// $$  __|   $$$$$$$ |\$$$$$$\  $$$$$$$$ |$$ |
// $$ |     $$  __$$ | \____$$\ $$   ____|$$ |
// $$$$$$$$\\$$$$$$$ |$$$$$$$  |\$$$$$$$\ $$ |
// \________|\_______|\_______/  \_______|\__|
// 
// Fusionary Easel v2.0
// Grid

/** =container
************************************************************/
@mixin container($width: ($column_width + $gutter_width) * $column_count - $gutter_width) {
  width: $width;
  margin: 0 auto;
	@include clearfix;
}
@mixin col_calc($col_number, $property: "width", $offset: 0, $before: "") {
	#{$property}: #{$before}(($column_width + $gutter_width) * $col_number - $gutter_width + $offset);
}

/** =default widths
************************************************************/
$input_offset: $input_padding_width * 2 + $input_border_width * 2;

.text {
	input,
	textarea {
		@include col_calc($input_default_width, "width", $input_offset);
	}
	textarea {
		height: $line_height * 6;
	}
}
.select {
	select {
		@include col_calc($input_default_width, "width");
	}
}

/** =columns
************************************************************/
@mixin column {
	float: left;
	margin-right: $gutter_width;
}
@for $i from 1 through $column_count {
	.col-#{$i} {
		@include column;
		@include col_calc($i);
	}
	.append-#{$i} {
		@include col_calc($i, "padding-right", $gutter_width * 2);
	}
	.prepend-#{$i} {
		@include col_calc($i, "padding-left", $gutter_width * 2);
	}
	.pull-#{$i} {
		@include col_calc($i, "margin-left", $gutter_width, "-");
	}
	.push-#{$i} {
		@include col_calc($i, "margin-left", $gutter_width * 2);
	}
	.text {
		fieldset.col-#{$i} &,
		html body &.col-#{$i},
		html body fieldset & {
			input,
			input.col-#{$i},
			textarea,
			textarea.col-#{$i} {
				@include col_calc($i, "width", -$input_offset);
			}
		}
	}
	.select {
		fieldset.col-#{$i} &,
		html body &.col-#{$i},
		html body fieldset & {
			select {
				@include col_calc($i);
			}
		}
	}
	.col-#{$column_count},
	.col-last {
		margin-right: 0;
	}
}

