/*
$$$$$$$$\                              $$\ 
$$  _____|                             $$ |
$$ |      $$$$$$\   $$$$$$$\  $$$$$$\  $$ |
$$$$$\    \____$$\ $$  _____|$$  __$$\ $$ |
$$  __|   $$$$$$$ |\$$$$$$\  $$$$$$$$ |$$ |
$$ |     $$  __$$ | \____$$\ $$   ____|$$ |
$$$$$$$$\\$$$$$$$ |$$$$$$$  |\$$$$$$$\ $$ |
\________|\_______|\_______/  \_______|\__|

Fusionary Easel v2.0
Reset, Tools, Grid, Section Definition, Reset Mixin
*/

/** =import
************************************************************/
@import "constants";
@import "reset";
@import "grid";
@import "mixins";
@import "base";

/** =example pages
************************************************************/
@include sticky_footer(100px, 50px);

.body,
.header,
.footer > .inner {
	@include container;
}
body {
	@include slim_webkit;
  background: url(../../../examples/assets/styles/images/f.png) 0 -80px;
}
.wrapper {
  background: url(../../../examples/assets/styles/images/color-bar.png) repeat-x;
}
.header {
	padding-top: 30px;
	text-align: center;
}
.header,
.body {
	& > h1 {
		font-size: 60px;
		letter-spacing: -0.04em;
		text-align: center;
		margin: 0 0 $margin_y;
		
	}
}
.body {
	padding-top: $margin_y;
}
.footer > .inner {
	border-top: 1px solid #ebebeb;
	text-align: right;
}
.header .icn.home {
	position: absolute;
	top: 10px;
	right: 10px;
}
.p-thin {
	.body {
		h2 {
			text-align: center;
		}
		@include container;
		@include col_calc(12);
	}
}
.nav {
	@include vnav_ruled;
	font-size: 18px;
	font-weight: bold;
	@include ls_tight;
	a:hover {
		background-color: $default_bg;
	}
}