// You may want to include this file in your project's base file before easel,
// in the event you may want to use a function to override an easel default variable.

//** =gray
//**********************************************************/


@function gray($percentage) {
  @return darken(#fff, $percentage);
}

//** =darkerate
//**********************************************************/


@function darkerate($color, $darken, $saturate: false) {
  @if $saturate {
    $saturate: $saturate;
  }
  @else {
    $saturate: $darken;
  }
  $color: darken($color, $darken);
  $color: saturate($color, $saturate);
  @return $color;
}