@mixin superfish(
  $height: 50px,
  $dropdown-width: 15em) {
  @include floated-list;
  ul {
    position: absolute;
    top: -999em;
    width: $dropdown-width;
    li {
      width: 100%;
      &:hover {
        visibility: inherit; // fixes IE7 "sticky bug"
      }
    }
  }
  li {
    position: relative;
  }
  a {
    display: block;
    position: relative;
  }
  li a { height: $height; }
  li li a { height: auto; }
  li:hover ul,
  li.sfHover ul {
    left: 0;
    top: $height;
    z-index: 99;
  }
  li:hover li ul,
  li.sfHover li ul,
  li li:hover li ul,
  li li.sfHover li ul{
    top: -999em;
  }
  li li:hover ul,
  li li.sfHover ul,
  li li li:hover ul,
  li li li.sfHover ul {
    left: $dropdown-width;
    top: 0;
  }

}