@mixin text_shadow ($x: 1px, $y: 1px, $size: 1px, $color: #000) {
	-moz-text-shadow: $x $y $size $color;
	-webkit-text-shadow: $x $y $size $color;
	text-shadow: $x $y $size $color;
}
@mixin box_shadow($x: 0px, $y: 0px, $b: 0px, $c: #000) {
	-moz-box-shadow: $x $y $b $c;
	-webkit-box-shadow: $x $y $b $c;
	filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=$x, OffY=$y, Color='$c');
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=$x, OffY=$y, Color='$c')";
	box-shadow: $x $y $b $c;
}
@mixin border_radius() {
  
} //border_radius

@mixin opacity($opacity) {
	-ms-filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
	filter: alpha(opacity=$opacity);
	-khtml-opacity: $opacity;
	-moz-opacity: $opacity;
	opacity: $opacity;
} //opacity

@mixin font_face($name, $font_file, $weight: normal, $style: normal, $font_size_adjust: 0) {
  @font-face {
    font-family: quote($name);
    src: url('#{$font_file}' + '.eot');
  	src: local('☺'), url('#{$font_file}' + '.ttf') format('truetype'), url('#{$font_file}' + '.svg#webfont') format('svg');
  	@if $weight {
      font-weight: $weight;
    }
    @if $style {
      font-weight: $style;
    }
    @if $font_size_adjust {
      font-size-adjust: $font_size_adjust;
    }
  }
}

@mixin base_font_face($font-size-adjust: 0) {
  font-weight: normal;
  font-style: normal;
}