/**
 * css3 PIE
 * http://css3pie.com/
 * elements also need a z-index, so not position: static
 * use ie html classes to create a .pie class in your site stylesheet
 */
@mixin pie {
  behavior: url($easel-dir + 'tools/PIE.htc');
}

/**
 * text-shadow
 */
@mixin text-shadow(
  $x: $base-text-shadow-x,
  $y: $base-text-shadow-y,
  $blur: $base-text-shadow-blur,
  $color: $base-text-shadow-color) {
	-moz-text-shadow: $x $y $blur $color;
	-webkit-text-shadow: $x $y $blur $color;
	text-shadow: $x $y $blur $color;
}
@mixin no-text-shadow {
  @include text-shadow(0, 0, 0);
}

/**
 * box-shadow
 */
@mixin box-shadow(
  $x: $base-box-shadow-x,
  $y: $base-box-shadow-y,
  $blur: $base-box-shadow-blur,
  $spread: $base-box-shadow-spread,
  $color : $base-box-shadow-color,
  $inset: false,
  $pie: true) {
  @if $pie {
    .ie7  & {
      @include pie;
    }
    .ie8 & {
      @include pie;
    }

  }
  @if $inset {
    -moz-box-shadow: $x $y $blur $spread $color inset;
  	-webkit-box-shadow: $x $y $blur $spread $color inset;
  	box-shadow: $x $y $blur $spread $color inset;
  }
  @else {
    -moz-box-shadow: $x $y $blur $spread $color;
  	-webkit-box-shadow: $x $y $blur $spread $color;
  	box-shadow: $x $y $blur $spread $color;
  }
}
@mixin no-box-shadow {
  @include box-shadow(0, 0, 0, 0);
}

/**
 * opacity
 */
@mixin opacity($opacity) {
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	opacity: $opacity;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})";
	filter: alpha(opacity=$opacity * 100);
}

/**
 * border-radius
 * PIE only works with shorthand method
 */
@mixin border-radius(
  $radius: $base-border-radius,
  $tl: $base-border-radius,
  $tr: $base-border-radius,
  $br: $base-border-radius,
  $bl: $base-border-radius,
  $pie: true) {
  @if $pie {
    .ie7  & {
        @include pie;
    }
    .ie8 & {
      @include pie;
    }
  }
  @if $radius {
    $tl: $radius;
    $tr: $radius;
    $br: $radius;
    $bl: $radius;
  }
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}
@mixin border-radius-t($radius: $base-border-radius) {
  @include border-radius(false, $radius, $radius, 0, 0);
}
@mixin border-radius-r($radius: $base-border-radius) {
  @include border-radius(false, 0, $radius, $radius, 0);
}
@mixin border-radius-b($radius: $base-border-radius) {
  @include border-radius(false, 0, 0, $radius, $radius);
}
@mixin border-radius-l($radius: $base-border-radius) {
  @include border-radius(false, $radius, 0, 0, $radius);
}
@mixin border-radius-tl($radius: $base-border-radius) {
  @include border-radius(false, $radius, 0, 0, 0);
}
@mixin border-radius-tr($radius: $base-border-radius) {
  @include border-radius(false, 0, $radius, 0, 0);
}
@mixin border-radius-br($radius: $base-border-radius) {
  @include border-radius(false, 0, 0, $radius, 0);
}
@mixin border-radius-bl($radius: $base-border-radius) {
  @include border-radius(false, 0, 0, 0, $radius);
}

// set a single corner (does not work with cssPIE)
@mixin border-corner-radius($x, $y, $radius: $base-border-radius) {
  -moz-border-radius-#{$y}-#{$x}: $radius;
  -webkit-border-#{$y}-#{$x}-radius: $radius;
  border-#{$y}-#{$x}-radius: $radius;
}

/**
 * @font-face
 * here for reference, but these declarations should go in the <head> to minimize any FOUC
 */
@mixin font-face(
  $name,
  $font-file,
  $weight: normal,
  $style: normal) {
  @font-face {
    font-family: quote($name);
    src: url('#{$font-file}' + '.eot');
  	src: local('☺'), url('#{$font-file}' + '.ttf') format('truetype'), url('#{$font-file}' + '.svg#webfont') format('svg');
  	@if $weight {
      font-weight: $weight;
    }
    @if $style {
      font-style: $style;
    }
  }
}

/**
 * rgba backgrounds
 */
@mixin rgba($color, $opacity, $pie: true) {
  background-color: $color;
  background-color: rgba($color, $opacity);
  @if $pie {
    .ie7  & {
      @include pie;
      -pie-background: rgba($color, $opacity);
    }
    .ie8 & {
      @include pie;
      -pie-background: rgba($color, $opacity);
    }    
  }  
}

/**
 * multiple backgrounds
 */
@mixin multiple-backgrounds($value, $pie: true) {
  background: unquote($value);
  @if $pie {
    .ie7  & {
      @include pie;
       -pie-background: unquote($value);
    }
    .ie8 & {
      @include pie;
       -pie-background: unquote($value); 
    }
  }  
}

/**
 * vertical gradient
 */
@mixin vertical-gradient($start: #000, $end: #fff, $pie: true) {
  background: $end;
  background: -moz-linear-gradient(center top, $start 0%, $end 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, $start), color-stop(1, $end) );
  @if $pie {
    .ie7  & {
      @include pie;
      -pie-background: linear-gradient(90deg, $start, $end);
    }
    .ie8 & {
      @include pie;
      -pie-background: linear-gradient(90deg, $start, $end);
    }
  }
}

/**
 * multi-column layout (newspaper columns)
 */
@mixin columns(
  $column-count: 2,
  $column-width: false,
  $column-gap: $base-x,
  $column-rule-width: 0,
  $column-rule-color: $base-border-color,
  $column-rule-style: solid) {
  @if $column-count {
    -moz-column-count: $column-count;
    -webkit-column-count: $column-count;
    column-count: $column-count;
  }
  @if $column-width {
    -moz-column-width: $column-width;
    -webkit-column-width: $column-width;
    column-width: $column-width;
  }
  @if $column-gap {
    -moz-column-gap: $column-gap;
    -webkit-column-gap: $column-gap;
    column-gap: $column-gap;
  }
  @if $column-rule-width > 0 {
    -moz-column-rule-width: $column-rule-width;
    -webkit-column-rule-width: $column-rule-width;
    column-rule-width: $column-rule-width;
    @if $column-rule-color {
      -moz-column-rule-color: $column-rule-color;
      -webkit-column-rule-color: $column-rule-color;
      column-rule-color: $column-rule-color;
    }
    @if $column-rule-style {
      -moz-column-rule-style: $column-rule-style;
      -webkit-column-rule-style: $column-rule-style;
      column-rule-style: $column-rule-style;
    }
  }
}