// float fix for ie6
@mixin float($dir: left) {
  float: $dir;
  .ie6 & {
    display: inline;
  }
}

// clearfix
@mixin clearfix {
  &:after {
    visibility: hidden;
  	display: block;
  	font-size: 0;
  	content: " ";
  	clear: both;
  	height: 0;
  }
  .ie6,
  .ie7 {
    zoom: 1;
  }
}

// cross browser inline-block
@mixin inline_block {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
	.ie6 &,
	.ie7 & {
		display: inline;
		vertical-align: auto;
	}
}

// negative margin fix for ie6
@mixin negative_margin_fix {
  .ie6 & {
    position: relative;
    zoom: 1;
  }
}

// min height/width for ie6
@mixin min_height($h: auto) {
  min-height: $h;
  .ie6 & {
		height: $h;
	}
}
@mixin min_width($w: auto) {
  min-width: $w;
  .ie6 & {
		width: $w;
	}
}

// image replacement
@mixin replace {
  background-repeat: no-repeat;
  text-indent: -999em;
  display: block;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  font-size: 1px;
}

// hiding/showing
@mixin js_hide {
  .js & {
    display: none;
  }
}
@mixin js_show {
  display: none;
  .js & {
    display: block;
  }
}
@mixin hide_accessibly() {
  position: absolute;
  left: -9999em;
}
@mixin js_hide_accessibly() {
  .js & {
    @include hide_accessibly;
  }
}

// bottom margin block
@mixin block($margin: $base_y, $display: block) {
  display: $display;
  margin-bottom: $margin;
}