@mixin block_list() {
  li {
    @include li_reset;
    a {
      display: block;
    }
  }
} //block_list

@mixin floated_list($margin_right: 0, $text_align: center) {
  @include clearfix;
  text-align: $text_align;
  li {
    @include float(left);
    @include li_reset;
    margin-right: $margin_right;
    a {
      display: block;
    }
    &.last {
      margin-right: 0;
    }
  }
} //floated_list

@mixin inline_block_list($margin_right: 0, $text_align: center) {
  text-align: $text_align;
  li {
    @include li_reset;
    @include inline_block;
    margin-right: $margin_right;
    &.last {
      margin-right: 0;
    }
  }
} //inline_block_list

@mixin inline_list($margin_right: 0, $text_align: center) {
  text-align: $text_align;
  li {
    @include li_reset;
    display: inline;
    margin-right: $margin_right;
    &.last {
      margin-right: 0;
    }
  }
} //inline_block_list

@mixin piped_list(
  $color: $base_border_color,
  $width: 1px,
  $style: solid,
  $padding_right: 5px,
  $margin_right: 5px) {
  li {
    @include li_reset;
    border-right: $width $style $color;
    padding-right: $padding_right;
    margin-right: $margin_right;
    &.last {
      margin-right: 0;
      padding-right: 0;
    }
  }
} //piped_list